#th-block {
    background-image: url('./images/profile1.png');
    background-attachment: fixed;
    height: 790px;
    margin-top: -670px;
    padding-top: 680px;
}

a.nostyle {
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0 auto;
}

div.portfoliocard {
    position: relative;
    height: 550px;
    max-width: 80%;
    background: rgba(28, 26, 35, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: -570px;
}

div.portfoliocard div.coverphoto {
    width: 100%;
    height: 120px;
    background: url('./images/welcome.jpg');
    background-size: 100% 100%;
    background-position: right right;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 3px 20px rgba(255, 255, 255, 0.3), 1px 0px 2px rgba(255, 255, 255, 0.7);
    /* z-index: 99; */
}

div.portfoliocard div.left_col,
div.portfoliocard div.right_col {
    float: left;
    height: 400px;
}

div.portfoliocard div.left_col {
    width: 30%;
    padding-top: 85px;
    box-sizing: border-box;
    /* background: #1B1A21; */
}

div.portfoliocard div.right_col {
    width: 70%;
    height: 350px;
    background: #1B1A21;
    border-style: none;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.7);
    margin-left: -1px;
    border-bottom-right-radius: 5px;
}

div.portfoliocard div.profile_picture {
    width: 140px;
    height: 140px;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 45px;
    left: 40px;
    border-radius: 100%;
    background-image: url('./images/profile.jpg');
    background-size: 100% 100%;
    padding: 7px;
    border: 4px solid rgba(255, 255, 255, 1)
}

div.portfoliocard div.right_col h2.name {
    font-size: 30px;
    font-weight: 300;
    color: white;
    padding: 0;
    margin: 20px 10px 0px 30px;
}

div.portfoliocard div.right_col h3.location {
    font-size: 15px;
    font-weight: 300;
    color: rgba(170, 170, 170, 1);
    padding: 0;
    margin: -5px 10px 10px 30px;
}

div.portfoliocard ul.contact_information {
    list-style-type: none;
}

div.portfoliocard ul.contact_information li {
    height: 6px;
    width: 490px;
    line-height: 5px;
    font-weight: 300;
    font-size: 30px;
    color: rgba(140, 140, 140, 1);
    padding: 30px 0px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    cursor: default;
    /* margin-left: 25px */
}

div.portfoliocard ul.contact_information li:before {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    /* margin-right: 10px;
    opacity: 0.7;*/
    margin-bottom: 30px;
}

div.portfoliocard ul.contact_information li:hover {
    background-color: whitesmoke;
    color: #1B1A21;
}

div.portfoliocard ul.contact_information li.work:before {
    background-image: url('./images/case.png');
}

div.portfoliocard ul.contact_information li.website:before {
    background-image: url('./images/globe.png');
}

div.portfoliocard ul.contact_information li.mail:before {
    background-image: url('./images/paper_plane.png');
}

div.portfoliocard ul.contact_information li.phone:before {
    background-image: url('./images/phone.png');
}

div.portfoliocard ul.contact_information li.resume:before {
    background-image: url('./social/inbox.png');
}

#social_footer {
    margin-top: 200px;
    ;
    width: 100%;
    height: 120px;
    background: #3B384E;
    text-align: center;
}

#social_footer>a>img {
    font-size: 30px;
    margin-top: 40px;
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
    div.portfoliocard {
        height: 480px;
        ;
        width: 60%;
    }
    div.portfoliocard div.coverphoto {
        width: 100%;
        height: 120px;
    }
    div.portfoliocard div.profile_picture {
        width: 100px;
        height: 100px;
        margin: 20px 10px 20px;
    }
    div.portfoliocard div.left_col {
        width: 30%;
        height: 20px;
    }
    div.portfoliocard div.right_col {
        width: 70%;
        height: 350px;
    }
    div.portfoliocard div.right_col h2.name {
        font-size: 28px;
        margin-top: 30px;
        margin-left: 16px;
    }
    div.portfoliocard div.right_col h3.location {
        font-size: 18px;
        font-weight: 300;
        margin-top: 10px;
        margin-left: 18px;
    }
    div.portfoliocard ul.contact_information {
        height: 300px;
        width: 360px;
    }
    div.portfoliocard ul.contact_information li {
        height: 10px;
        width: 330px;
        font-size: 20px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    div.portfoliocard {
        height: 450px;
        ;
        width: 60%;
    }
    div.portfoliocard div.coverphoto {
        width: 100%;
        height: 90px;
    }
    div.portfoliocard div.profile_picture {
        width: 100px;
        height: 100px;
        margin: 5px 0px 0px -10px;
    }
    div.portfoliocard div.left_col {
        width: 30%;
        height: 20px;
    }
    div.portfoliocard div.right_col {
        width: 70%;
        height: 350px;
    }
    div.portfoliocard div.right_col h2.name {
        font-size: 28px;
        margin-top: 30px;
        margin-left: 16px;
    }
    div.portfoliocard div.right_col h3.location {
        font-size: 18px;
        font-weight: 300;
        margin-top: 10px;
        margin-left: 18px;
    }
    div.portfoliocard ul.contact_information {
        height: 300px;
        width: 360px;
    }
    div.portfoliocard ul.contact_information li {
        height: 10px;
        width: 330px;
        font-size: 20px;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    div.portfoliocard {
        height: 450px;
        width: 70%;
    }
    div.portfoliocard div.coverphoto {
        width: 100%;
        height: 100px;
    }
    div.portfoliocard div.profile_picture {
        width: 94px;
        height: 94px;
        margin: 10px -20px;
    }
    div.portfoliocard div.left_col {
        width: 30%;
        height: 20px;
    }
    div.portfoliocard div.right_col {
        width: 70%;
        height: 75%;
    }
    div.portfoliocard div.right_col h2.name {
        font-size: 26px;
        margin-top: 10px;
        margin-left: 16px;
    }
    div.portfoliocard div.right_col h3.location {
        font-size: 18px;
        font-weight: 300;
        margin-top: 10px;
        margin-left: 16px;
    }
    div.portfoliocard ul.contact_information {
        height: 190px;
        width: 100%;
        ;
    }
    div.portfoliocard ul.contact_information li {
        height: 40px;
        width: 100%;
        font-size: 18px;
    }
    div.portfoliocard ul.contact_information li:before {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
    div.portfoliocard {
        height: 450px;
        width: 75%;
    }
    div.portfoliocard div.coverphoto {
        width: 100%;
        height: 90px;
    }
    div.portfoliocard div.profile_picture {
        width: 80px;
        height: 80px;
        margin: 10px -30px;
    }
    div.portfoliocard div.left_col {
        width: 30%;
        height: 20px;
    }
    div.portfoliocard div.right_col {
        width: 70%;
        height: 71%;
    }
    div.portfoliocard div.right_col h2.name {
        font-size: 22px;
        margin-top: 10px;
        margin-left: 35px;
    }
    div.portfoliocard div.right_col h3.location {
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
        margin-left: 35px;
    }
    div.portfoliocard ul.contact_information {
        height: 190px;
        width: 100%;
    }
    div.portfoliocard ul.contact_information li {
        height: 40px;
        width: 100%;
        font-size: 15px;
    }
    div.portfoliocard ul.contact_information li:before {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    div.portfoliocard {
        height: 400px;
        width: 75%;
    }
    div.portfoliocard div.coverphoto {
        width: 100%;
        height: 60px;
    }
    div.portfoliocard div.profile_picture {
        width: 60px;
        height: 60px;
        margin: -10px -30px;
    }
    div.portfoliocard div.left_col {
        width: 1%;
        height: 20px;
    }
    div.portfoliocard div.right_col {
        width: 99%;
        height: 80%;
    }
    div.portfoliocard div.right_col h2.name {
        font-size: 22px;
        margin-top: 10px;
        margin-left: 75px;
    }
    div.portfoliocard div.right_col h3.location {
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
        margin-left: 75px;
    }
    div.portfoliocard ul.contact_information {
        height: 190px;
        width: 100%;
    }
    div.portfoliocard ul.contact_information li {
        height: 40px;
        width: 100%;
        font-size: 15px;
    }
    div.portfoliocard ul.contact_information li:before {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 280px) and (max-width: 320px) {
    div.portfoliocard {
        height: 360px;
        width: 250px;
    }
    div.portfoliocard div.coverphoto {
        width: 100%;
        height: 70px;
    }
    div.portfoliocard div.profile_picture {
        width: 40px;
        height: 40px;
        margin: -20px 10px 20px;
    }
    div.portfoliocard div.left_col {
        width: 0.1px;
        background: #1B1A21;
    }
    div.portfoliocard div.right_col {
        width: 50px;
        height: 10px;
    }
    div.portfoliocard div.right_col h2.name {
        font-size: 20px;
        margin-top: 30px;
        margin-left: 16px;
    }
    div.portfoliocard div.right_col h3.location {
        font-size: 13px;
        font-weight: 300;
        margin-top: 10px;
        margin-left: 16px;
    }
    div.portfoliocard ul.contact_information {
        height: 120px;
        width: 230px;
    }
    div.portfoliocard ul.contact_information li {
        height: 20px;
        width: 230px;
        font-size: 12px;
    }
}